@font-face {
 font-family: "Giaza Stencil";
 font-weight: 400;
 src: url(./assets/Giaza-Stencil/Giaza_Stencil.ttf);
}

body {
 font-family: "Giaza Stencil" ;
}

.main-container {
 background-color: #FBF8F1;
 height: 100vh;
 position: relative;
}
/* navbar */
.navbar {
 width: 100%;
 display: flex;
 align-items: center;
 padding-top: 2rem;
 box-sizing: border-box;
 justify-content: center;
 position: relative;
 z-index: 11;
}

.navbar ul {
 display: flex;
 list-style-type: none;
 align-items: center;
}

.navbar ul li {
 padding: 0px 24px;
}

.navbar ul a {
 text-decoration: none;
 text-transform: capitalize;
 font-weight: 500;
 font-size: 18px;
 box-sizing: border-box;
 width: 30px;
 border: 1px solid transparent;
 border-radius: 4px;
 padding: 3px;
 color: black;
}

.navbar ul a:hover{
 border: 1px solid black;
}

#check:checked~ul {
 position: fixed;
 left: 0%;
 top: 13.5%;
 display: inline-grid;
 align-items: center;
 justify-content: space-evenly;
 width: 100%;
 height: 50vh;
 /* z-index: 1000; */
 background-color: #f0e4c9;
 z-index: -1;
 margin-top: -100px;
}

/* check box */

#check {
 display: none;
}

#open {
 display: none;

}

#open span {
 background-color: black;
 width: 26px;
 height: 2px;
 margin: 2.5px;

}

/* top bottom images */
.top-right {
 position: absolute;
 width: 365px;
 right: 0%;
 top: 0;
 transform: translate(50%, 10px);
}

.top-right img{
 width: 100%;
 clip: rect(0, 100px, 200px, 0);
}


.bottom-left {
 position: absolute;
 width: 365px;
 left: 0;
 bottom: 0;
 transform: translate(-50%,-5px);
}

.bottom-left img{
 width: 100%;
}

.pred-scro {
 transform: rotate(90deg);
 position: relative;
 top: 0%;
 right: 50%;
 transform: translate(-50%, -50%);
}

.title-bg {
    max-width: 551px;
    height: 253px;
    border-top-right-radius: 16rem;
    background-color: #f7ecde;
    border-top-left-radius: 16rem;
    margin: auto;
    position: relative;

}

.title-container {
 text-align: center;
}

.title-container h1 {
 font-size: 8.7rem;
 font-weight: 400;
 padding: 4PX 8PX;
 margin: 0;
 line-height: 0.7;
 margin-top: 40px;
}

.title-container img {
 width: 100%;
 max-width: 160px;
}

/* input box */
.input-box {
 text-align: center;
 margin-top: 124px;
}

.input-box input {
 width: 100%;
 max-width: 211px;
 border-top-left-radius: 12px;
 border-bottom-left-radius: 12px;
 padding: 3px;
 border: 1px solid black;

}

.input-box button {
 padding: 3px;
 border: 1px solid black;
 border-top-right-radius: 12px;
 border-bottom-right-radius: 12px;
 background-color: black;
 width: 30px;
}

.input-box button img {
 width: 50%;
}

.random-text{
 position: absolute;
 top: 75%;
 left: 85%;
 transform: translate(-8%,-55%);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 white-space: nowrap;
}

.random-text h2{
 margin-top:3.8rem;
 transform: rotate(-90deg);
}

.random-text span{
 width: 22px;
 height: 22px;
 background-color: black;
 border-radius: 50px;
 transform: rotate(-90deg);
 margin: 2.8px 0px;
}

.pred-scro{
 position: absolute;
 top: 30%;
 right: 85%;
 transform: translate(20%,-50%);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 white-space: nowrap;
 z-index: 11;
}

.pred-scro h2{
 transform: rotate(-90deg);
 margin-top: 5rem;

}
.pred-scro span{
 width: 16px;
 height: 16px;
 border: 7px solid black;
 border-radius: 50px;
 transform: rotate(-90deg);
}
@media screen and (max-width:768px) {

 #open {
   display: inline-grid;
   align-items: center;
   justify-content: center;
   background: #FBF8F1;
   border: 1px solid black;
   box-sizing: border-box;
   border-radius: 6px;
   padding: 8px 6px;
   box-sizing: border-box;
   cursor: pointer;
 }

 .title-bg{
   max-width: 360px;
   height: 190px;
 }

 .title-container img{
   max-width: 130px;
 }
 .title-container h1{
   font-size: 4rem;
 }
 .navbar ul {
   display: none;
 }

 .navbar{
   justify-content: end;
   padding-right: 15px;
 }


}